Name: Sai Vinay M R

Roll No: 22-27-02

Assignment 01

Data Science Tools and Techniques

Question 01 : 

Given an array A of N numbers (int), WAP which prints the multiplication of the elements of array A with the corresponding elements of the reverse of array A. If A = [1,2,3], then reverse of A will be [3,2,1] and the result should be [3,4,3]. Input Format: The first line of the input contains a number N The second line of the input contains N numbers separated by a space. (after the last elements, there is no space) Output Format: Print the resultant array of elements separated by a space. (no space after the last element)

In [1]:
def reverse_multiplier():
    arr = []
    size = int(input("Enter the number of elements in the list: "))
    for i in range(size):
        j = int(input(f"Enter the {i+1} element of list A: "))
        arr.append(j)
    arr_rev = arr[::-1]
    result = []
    for i, j in zip(arr, arr_rev):
        result.append(i*j)
    print(*result)

In [2]:
reverse_multiplier()

Enter the number of elements in the list: 4
Enter the 1 element of list A: 1
Enter the 2 element of list A: 2
Enter the 3 element of list A: 3
Enter the 4 element of list A: 4
4 6 6 4

Question 02 : 

Given a list of numbers (integers), find second maximum and second minimum in this list. Input Format: The first line contains numbers separated by a space. Output Format: Print the second maximum and second minimum separated by a space

In [3]:
def second_max_min(arr):
    arr_copy = arr.copy()
    arr_copy.pop(arr_copy.index(max(arr_copy)))
    arr_copy.pop(arr_copy.index(min(arr_copy)))
    second_min_val = min(arr_copy)
    second_max_val = max(arr_copy)
    print(second_max_val,second_min_val)

In [20]:
arr = [1,2,3,4,5]
second_max_min(arr)

4 2

Question 03: 

Given a list A of numbers (integers), you have to print those numbers which are not multiples of 5. Input Format: The first line contains the numbers of list A separated by a space. Output Format: Print the numbers in a single line separated by a space which are not multiples of 5. Example: Input: 1 2 3 4 5 6 5 Output: 1 2 3 4 6 Explanation: Here the elements of A are 1,2,3,4,5,6,5 and since 5 is the multiple of 5, after removing them the list becomes 1,2,3,4,6.

In [5]:
def not_5_multiples(arr):
    not_5 = []
    for i in arr:
        if i%5 != 0:
            not_5.append(i)
    for i in not_5:
        print(i,end=' ')

In [6]:
arr = [1,2,3,5,10,11,15,20,5,3]
not_5_multiples(arr)

1 2 3 11 3

Question 4 :

You are given a number A which contains only digits 0’s and 1’s. Your task is to make all digits same by just flipping one digit (i.e. 0 to 1 or 1 to 0 ) only. If it is possible to make all the digits same by just flipping one digit then print ’YES’ else print ’NO’. Input Format: The first line contains a number made up of 0’s and 1’s. Output Format: Print ’YES’ or ’NO’ accordingly without quotes. Example: Input: 101 Output: YES Explanation: If you flip the middle digit from 0 to 1 then all the digits will become same. Hence output is YES.

In [7]:
def can_flip(num):
    digi = []
    for i in str(num):
        digi.append(int(i))
    count_0 = 0
    count_1 = 0
    for i in digi:
        if i == 0:
            count_0 += 1
        if i == 1:
            count_1 += 1
    if count_0 == 1 or count_1 == 1:
        print('Yes')
    else:
        print('No')

In [9]:
num = 11101
can_flip(num)

Yes

Question 5 :

Given an integer number n, you have to print the factorial of this number. Input Format: A number n. Output Format: Print the factorial of n. Example: Input: 4 Output: 24

In [15]:
def factorial(num):
    if num == 1 or num == 0:
        return 1
    return num *factorial(num - 1)

In [16]:
factorial(4)

24

Question 6

Write a program, which will find all such numbers between m and n (both included) such that each digit of the number is an even number. Input Format: The first line contains value m and n separated by a comma. Output Format: The numbers obtained should be printed in a comma-separated sequence on a single line. Constraints: 1000<=m<=9000 1000<=n<=9000

In [18]:
def find_even(m,n):
    even_num = []
    
    for i in range(m,n+1):
        if i%2 == 0:
            flag = 0
            all_even = []
            for j in str(i):
                all_even.append(int(j))
            for k in all_even:
                if k%2 != 0:
                    flag = 1
                    break
            if flag == 0:
                even_num.append(i)
    print(*even_num)

In [19]:
 find_even(100,500)

200 202 204 206 208 220 222 224 226 228 240 242 244 246 248 260 262 264 266 268 280 282 284 286 288 400 402 404 406 408 420 422 424 426 428 440 442 444 446 448 460 462 464 466 468 480 482 484 486 488